<ion-toolbar color="light">
  <ion-buttons slot="start">
    <ion-button routerLink="/tabs/tab-home">
      <ion-icon name="arrow-back-outline"></ion-icon>
      <ion-label style="margin-left: 5vw">Main Menu</ion-label>
    </ion-button>  
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button (click)="refresh()">
      <ion-icon name="refresh-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  
</ion-toolbar>

<ion-content [fullscreen]="true">

  <ion-list *ngFor="let item of lstInventory">
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="3" (click)="openModal(item)">
            <ion-avatar>
              <img [src]="item.blobImage">
            </ion-avatar>
          </ion-col>
          <ion-col size="6" (click)="openModal(item)">
            <ion-label>{{ item.txtName }} </ion-label>
            <ion-label class="subtitle">{{ item.enumCut }} - Size: {{ item.txtSize }}</ion-label>
           <ion-checkbox (click)="onChange(item)"></ion-checkbox>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="shirt-outline" (click)="markAsDirty(item)" *ngIf="!item.blnDirty"></ion-icon>
            <ion-icon name="shirt" (click)="unmarkAsDirty(item)" *ngIf="item.blnDirty"></ion-icon>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="star-outline" *ngIf="!item.blnFavorite" (click)="markAsFavorite(item)"></ion-icon>
            <ion-icon name="star" *ngIf="item.blnFavorite" (click)="unmarkAsFavorite(item)"></ion-icon>            
          </ion-col>
          <ion-col size="1" >
            <ion-icon name="trash-outline" (click)="remove(item)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-item>
  </ion-list>

  <ion-alert-controller></ion-alert-controller>
  <ion-button (click)="presentAlert()" color="secondary">Get washing information</ion-button>

</ion-content>


