<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab-washing">
      <ion-icon name="flask-outline"></ion-icon>
      <ion-label>Washing</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-favorites" style="margin-right: 10vw">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>Favorites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-inventory" style="margin-left: 10vw">
      <ion-icon name="shirt-outline"></ion-icon>
      <ion-label>Inventory</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="scanButton">
    <ion-fab-button (click)="readNfc()">
      <ion-icon name="scan-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal
    [isOpen]="openCreateModal"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button color="medium" (click)="closeModal()">Close</ion-button>
          </ion-buttons>
          <ion-title color="primary" class="ion-text-center">Add new item</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="submitForm()">Submit</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <form #form="ngForm" novalidate>
          <ion-list>
            <ion-item>
              <ion-label position="fixed">Name</ion-label>
              <ion-input [(ngModel)]="formInputs.name.value" name="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Description</ion-label>
              <ion-textarea [(ngModel)]="formInputs.description.value" name="description"></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label [color]="isSubmitted && formInputs.topOrBottom.error ? 'danger':'dark'">Top or Bottom ?</ion-label>
              <ion-select interface="popover" required="required" [(ngModel)]="formInputs.topOrBottom.value" name="topOrBottom">
                <ion-select-option value="top" disabled="true">----Top----</ion-select-option>
                <ion-select-option value="tshirt">T-Shirt</ion-select-option>
                <ion-select-option value="pullover">Pullover</ion-select-option>
                <ion-select-option value="jacket">Jacket</ion-select-option>
                <ion-select-option value="hoodie">Hoodie</ion-select-option>
                <ion-select-option value="sweatshirt">Sweatshirt</ion-select-option>
                <ion-select-option value="shirt">Shirt</ion-select-option>
                <ion-select-option value="bottom" disabled="true">----Bottom----</ion-select-option>
                <ion-select-option value="jeans">Jeans</ion-select-option>
                <ion-select-option value="chinos">Chinos</ion-select-option>
                <ion-select-option value="trousers">Trousers</ion-select-option>
                <ion-select-option value="shorts">Shorts</ion-select-option>
                <ion-select-option value="underwear">Underwear</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label [color]="isSubmitted && formInputs.color.error ? 'danger':'dark'">Choose its color</ion-label>
              <ion-select interface="popover" placeholder="Color" [(ngModel)]="formInputs.color.value" name="color">
                <ion-select-option *ngFor="let col of formInputs.color.options" [ngValue]="col">{{col}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label [color]="isSubmitted && formInputs.size.error ? 'danger':'dark'">Select its size</ion-label>
              <ion-select interface="popover" placeholder="Size" [(ngModel)]="formInputs.size.value" name="size">
                <ion-select-option value="s">S</ion-select-option>
                <ion-select-option value="m">M</ion-select-option>
                <ion-select-option value="l">L</ion-select-option>
                <ion-select-option value="l">XL</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label [color]="isSubmitted && formInputs.fit.error ? 'danger':'dark'">Select its fit</ion-label>
              <ion-select interface="popover" placeholder="Fit" [(ngModel)]="formInputs.fit.value" name="fit">
                <ion-select-option value="slim">Slim</ion-select-option>
                <ion-select-option value="regular">Regular</ion-select-option>
                <ion-select-option value="loose">Loose</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label [color]="isSubmitted && formInputs.condition.error ? 'danger':'dark'">What is its condition ?</ion-label>
              <ion-select interface="popover" placeholder="Condition" [(ngModel)]="formInputs.condition.value" name="condition">
                <ion-select-option value="new">New</ion-select-option>
                <ion-select-option value="likenew">Like New</ion-select-option>
                <ion-select-option value="worn">Worn</ion-select-option>
                <ion-select-option value="wellworn">Well Worn</ion-select-option>
                <ion-select-option value="broken">Broken</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label [color]="isSubmitted && formInputs.weather.error ? 'danger':'dark'">What are the weather conditions ?</ion-label>
              <ion-select interface="popover" placeholder="Weather Condition" [(ngModel)]="formInputs.weather.value" name="weather">
                <ion-select-option value="cold">Cold</ion-select-option>
                <ion-select-option value="warm">Warm</ion-select-option>
                <ion-select-option value="hot">Hot</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label [color]="isSubmitted && formInputs.material.error ? 'danger':'dark'">What is its material ?</ion-label>
              <ion-select interface="popover" placeholder="Material" [(ngModel)]="formInputs.material.value" name="material">
                <ion-select-option value="leather">Leather</ion-select-option>
                <ion-select-option value="cotton">Cotton</ion-select-option>
                <ion-select-option value="polyester">Polyester</ion-select-option>
                <ion-select-option value="wool">Wool</ion-select-option>
                <ion-select-option value="cashmere">Cashmere</ion-select-option>
                <ion-select-option value="Cord">cord</ion-select-option>
                <ion-select-option value="denim">Denim</ion-select-option>
                <ion-select-option value="fleece">Fleece</ion-select-option>
                <ion-select-option value="leather">Leather</ion-select-option>
                <ion-select-option value="linen">Linen</ion-select-option>
                <ion-select-option value="polyester">Polyester</ion-select-option>
                <ion-select-option value="satin">Satin</ion-select-option>
                <ion-select-option value="viscose">Viscose</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label [color]="isSubmitted && formInputs.temperature.error ? 'danger':'dark'">Washing Temperature</ion-label><br/>
              <ion-range [pin]="true" [pinFormatter]="washingDegreeFormatter" [min]="20" [max]="90" [(ngModel)]="formInputs.temperature.value" name="temperature"></ion-range>
            </ion-item>
  
            <ion-item>
              <ion-label [color]="isSubmitted && formInputs.spinningCycles.error ? 'danger':'dark'">Spinning Cycles</ion-label><br/><br/>
              <ion-range [ticks]="true" [pin]="true" [snaps]="true" [min]="1" [max]="4" [value]="3" [pinFormatter]="spinningFormatter" [(ngModel)]="formInputs.spinningCycles.value" name="spinningCycles"></ion-range>
            </ion-item>
  
            <ion-item>
              <ion-label [color]="isSubmitted && formInputs.photo.error ? 'danger':'dark'">Click a photo</ion-label><br/><br/>
              <ion-button color="light" (click)="clickPhoto()">
                {{ formInputs.photo.value ? 'Upload new' : 'Click'}}
              </ion-button>
              <ion-img *ngIf="formInputs.photo.value" [src]="formInputs.photo.value"></ion-img>
            </ion-item>
          </ion-list>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-tabs>
