<ion-toolbar color="light">
  <ion-buttons slot="start">
    <ion-button routerLink="/tabs/tab-home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label style="margin-left: 5vw">Home</ion-label>
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="end" *ngIf="detectedData.length > 0">

    <ion-button (click)="startScan()">
      <ion-icon name="refresh"></ion-icon>
      <ion-button color="dark">Restart</ion-button>
    </ion-button>
  </ion-buttons>
</ion-toolbar>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Washing</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" *ngIf="!startDetection && detectedData.length === 0">
    <strong>{{ name }}</strong>
    <ion-button (click)="startScan()" color="dark">Start Bulk Scan</ion-button>
  </div>
  <div>
    <div style="display: flex; justify-content: center;">
      <ion-button *ngIf="detectedData.length > 0" fill="outline" slot="end" (click)="showRecommendation()">Recommendation</ion-button>
    </div>

    <ion-card *ngFor="let card of detectedData">
      <ion-item>
        <ion-label>{{card.txtName}} </ion-label>
      </ion-item>
    </ion-card>

  </div>
</ion-content>
